body {
	font-family: 'Roboto', sans-serif;
	color: #373A3C;
}


header {
  background-image: url('../img/principal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 15rem;
}

.let1 {
	font-family: 'Indie Flower', cursive;
	color: white;
}

.let2 {
	font-family: 'Indie Flower', cursive;
	color: white;
}

footer {
	padding: 51px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	

	.ng{
		text-align: right;
	}


	.carr {
		margin-top: -10rem;
	}

	
	.carousel-indicators {
		top: 12rem;
	}
	.carousel-indicators li {
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	.mi {
		padding: 3rem 0rem 1rem 12rem;
	}
	.mp {
		padding: 0rem 9rem 1rem 0rem;
	}

	.c, .d {
		display: inline-grid;
		width: 48%;

	}

	.ic {
		max-width: 100%;
	}


	.l {
		width: 27%;
	}

	.lg {
		display: none;
	}

	
	
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.np{
		text-align: left;
	}
	
	.carr {
		display: none;
	}
	
	.l2 {
		display: none;
	}
	.mi {
		padding: 3rem 3rem 1rem 3rem;
	}
	.mp {
		padding: 2rem 2rem 2rem 3rem;
	}
	
	.mrm {
		margin-left: 6rem;
		margin-right: 6rem;
	}
	.cmr {
		padding: 0 2rem 0 2rem;
	}
	.mnm {
		margin-left: 4rem;
		margin-right: 4rem;
	}
		
	
}







